<div class = "row">
  <div class = "col-md-4 col-md-offset-4">
    <%= form_tag ("/product/create", :method=> "post"), html: {class: "form-vertical", role: "form"} %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= label_tag "Name", for: "product_name" %><br>
        <%= text_field_tag, name: "product_name", id: "product_name", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= label_tag "Price", for: "product_price" %><br>
        <%= text_field_tag, name: "product_price", id: "product_price", class: "form-control"%>
      </div>
      <%= submit_tag "Create product", class: "btn btn-success", id: "commit" %>
      <%= link_to 'Back', products_path, class: "btn btn-danger", style: 'float: right;'%>
    <% end %>
  </div>
</div>
