<div class = "row">
  <div class = "col-md-4 col-md-offset-4">
    <%= form_for @product, html: {class: "form-vertical", role: "form"} do |f| %>
      <div class="form-group">
        <%= f.label :name%><br>
        <%= f.text_field :name, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :price %><br>
        <%= f.text_field :price, class: "form-control"%>
      </div>
      <%= f.submit "Update product", class: "btn btn-success", id: "commit" %>
    <% end %>
  </div>
</div>
