<div class = "row">
  <div class = "col-md-4 col-md-offset-4">
    <%= form_tag ("#"), :onSubmit => "return false", class: "form-vertical", role: "form" do %>
      <div class="form-group">
        <%= label_tag "Name"%><br>
        <%= text_field_tag "product_name", nil, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= label_tag "Price" %><br>
        <%= text_field_tag "product_price", nil, class: "form-control"%>
      </div>
      <%= submit_tag "Create product", class: "btn btn-success", id: "commit" %>
    <% end %>
  </div>
</div>
