<h1>New Product</h1>

<%= render 'form_new' %>
<%= link_to 'Back', products_path, class: "btn btn-danger"%>
<script >
$(function () {
	$('#commit').click(function () {
		var name = $("#product_name").val();
		var price = $("#product_price").val();
		var json_data = {product: {name: name, price: price}};
		$.ajax({
		  type: "POST",
		  contentType: "application/json; charset=utf-8",
		  url: "/products",
		  dataType: "json",
		  data: JSON.stringify(json_data),
		  success: function (response) {
		  	$("#product_name").val('')
		  	$("#product_price").val('')
		  	console.log(response);
		  },
		  error: function (error) {
		    console.log(error);
		  }
		});
	});
});
</script>