<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %> |
<%= link_to 'Back', products_path, class: "btn btn-danger"%>
