<!DOCTYPE html>
<html>
<head>
  <title>Ajax In Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<%= yield %>
	<p></p>
	<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
